{include file="$labeltempl" /}
<div class="el-form-item__content el-col-md-{$size[1]} radio-div" id="{$id}">
    <el-radio-group {$attr|raw} size="mini" class="{$class}">
        {if condition="$blockStyle"}
        <el-radio-button v-for="item in {$vueFieldName}.options" name="{$name}" class="{$class}"
            :disabled="item.disabled" :key="item.key" :label="item.key">
            {{item.label}}
        </el-radio-button>
        {else}
        <el-radio v-for="item in {$vueFieldName}.options" name="{$name}" class="{$class}" :disabled="item.disabled"
            :key="item.key" :label="item.key">{{item.label}}
        </el-radio>
        {if condition="!$inline"}
        <div style="height: 1px;width:100%"></div>
        {/if}
        {/if}
    </el-radio-group>
    {include file="$helptempl" /}
</div>