{include file="$labeltempl" /}
<div class="el-form-item__content el-col-md-{$size[1]}">
    <div v-if="{$vueFieldName}.loadtext" class="loadtext">{{{$vueFieldName}.loadtext}}</div>
    <el-select v-else placeholder="{$placeholder|default='请选择'.$label}" class="{$class}" id="{$id}"
        {$attr|raw}>
        {if condition="$group"}
        <el-option-group v-for="(group,index) in {$vueFieldName}.options" :key="index" :label="group.label">
            <el-option v-for="item in group.options" :disabled="item.disabled" :key="item.value" :label="item.label"
                :value="item.value">
            </el-option>
        </el-option-group>
        {else/}
        <el-option v-for="item in {$vueFieldName}.options" :disabled="item.disabled" :key="item.value"
            :label="item.label" :value="item.value">
        </el-option>
        {/if}
    </el-select>
    <input type="hidden" name="{$name}" :value="{$vueFieldName}.value" />
    {include file="$helptempl" /}
</div>