{notempty name="searchForm"}
{:$searchForm->render()}
{/notempty}
{notempty name="toolbar"}
<div class="toolbar-wrapper">
    {:$toolbar->render()}
</div>
{/notempty}

<div id="{$id}">
    {notempty name="addTop"}
    {:$addTop->render()}
    {/notempty}
    <div class="table-wrapper">
        <el-table :data="{$vueFieldName}.tableData" class="table {$class}" {$attr|raw}>
            {foreach name="headers" id="col" key="co"}
            <el-table-column label="{$col}">
                <template slot-scope="scope">
                    <block v-html="scope.row['{$co}'].value"></block>
                </template>
            </el-table-column>
            {/foreach}
        </el-table>
    </div>
    {empty name="$list"}
    <div class="table-empty-text">
        {$emptyText|raw}
    </div>
    {/empty}
    {notempty name="paginator"}
    <nav class="pagination-navi {:$paginator->getClass()}" {:$paginator->getAttrWithStyle()}>
        {:$paginator->render()}{notempty name="pagesizeDropdown"}{:$pagesizeDropdown->render()}{/notempty}
    </nav>
    {/notempty}
    {notempty name="addBottom"}
    {:$addBottom->render()}
    {/notempty}
    <script>
        var partial = '{$partial}' == 1;

        document.getElementById('form-__sort__-{$id}').value = '{$sort}';

        if (partial) {
            $('#form-__page__-{$id}').val('{$paginator->currentPage()}');

            var checkall = $('#{$id} input.checkall');
            var checkboxes = $('.' + checkall.data('check'));
            var count = checkboxes.size();

            checkall.on('change', function () {
                var ischecked = checkall.is(':checked');
                checkboxes.each(function (ii, ee) {
                    if ($(ee).attr('disabled') !== undefined || $(ee).attr('readonly') !== undefined) {
                        return;
                    }
                    $(ee).prop('checked', ischecked).trigger('change');
                });
            });

            checkboxes.on('change', function () {
                var ss = 0;
                checkboxes.each(function (ii, ee) {
                    if ($(ee).is(':checked')) {
                        ss += 1;
                        $(ee).parentsUntil('tbody', 'tr').addClass('checked');
                    }
                    else {
                        $(ee).parentsUntil('tbody', 'tr').removeClass('checked');
                    }
                });
                checkall.prop('checked', ss == count);
            });

            $('#{$id} input.table-row-checkall').trigger('change');
            if (window.renderFiles) {
                window.renderFiles('#{$id} ');
            }
            $("#{$id} table .form-control.readonly").attr('readonly', 'readonly');
            $("#{$id} table .form-control.disabled").attr('disabled', 'disabled');
            $("#{$id} table .form-control.not-readonly").removeAttr('readonly');
            $("#{$id} table .form-control.not-disabled").removeAttr('disabled');

            $("#{$id} table label.readonly input").attr('readonly', 'readonly');
            $("#{$id} table label.disabled input").attr('disabled', 'disabled');
            $("#{$id} table label.not-readonly input").removeAttr('readonly');
            $("#{$id} table label.not-disabled input").removeAttr('disabled');
        }
    </script>
</div>